/*Limpar formatações padrao*/
* {
    /* o '*' quer dizer tudo*/
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/* layout */
#cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo, #menu{
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto; /*margen da caixa da nossa div*/
    padding: 15px;
}

/*#menu-lateral {
    background: orange;
}*/

#postagens {
    width: 660px;
    float: left; /*ajustar lugar na tela com float*/
}

#menu-lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

/*Tecblog*/
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.branco {
    color:white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px; 
    margin-bottom: 10px;
    display: block;
}

.texto-lateral {
    font-size: 0.8em;
    padding: 5px;
}

/*links*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
    
}

a:hover {
    color: blue;
}

#cabecalho a:link, #cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #f7b600;
    background: #FFF;
}